.sum_img {
    float: left;
    width: 50px;
    height: 15px;
    background: url('../images/sum.gif');
}

.progress_img {
    float: left;
    width: 50px;
    height: 15px;
    background: url('../images/progress.gif');
}
