.line1 {
    fill: none;
    stroke: #ff8d2d;
    stroke-width: 3px;
}
.line2 {
    fill: none;
    stroke: #00d324;
    stroke-width: 3px;
}
.line3 {
    fill: none;
    stroke: #989898;
    stroke-width: 3px;
}

.line4 {
    fill: none;
    stroke: #ea0600;
    stroke-width: 2px;
}

.axis path,
.axis line {
    fill:none;
    stroke:#000;
    shape-rendering:crispEdges;
}
.x.axis path {
    display:none;
}

.tick line{
    opacity: 0.1;
}

text {
    font-size:10px;
}

.svg_main {
    float: left;
    width: 100%;
    height: 370px;
    background: #f3f3f3;
    border-radius: 10px;
}

.deficit{color: red;}
.surplus{color: #1754ff;}

.sum_img {
    float: left;
    width: 50px;
    height: 15px;
    background: url('../images/sum.gif');
}

.progress_img {
    float: left;
    width: 50px;
    height: 15px;
    background: url('../images/progress.gif');
}