= render(partial: "layouts/change_view",:locals => {:index => project_issues_path(project_identifier), :project_identifier => project_identifier} )
= javascript_include_tag "common/common", :plugin => "redmine_chart"